#div01 {
    width: 170.92px;
    height: 150px;
    display: inline-block;
}


#div02 {
    width: 170.92px;
    height: 230px;
    display: inline-block;
}


#div03 {
    width: 170.92px;
    height: 230px;
    display: inline-block;
}


#div04 {
    width: 170.92px;
    height: 230px;
    display: inline-block;
}


#div05 {
    width: 170.92px;
    height: 230px;
    display: inline-block;
}


#div06 {
    width: 170.92px;
    height: 230px;
    display: inline-block;
}


img {
    height: auto;
    max-width: 100%;
   }